header {
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  text-align: center;
  display: block;
}

header a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  background-color: #d9d9d9;
  border: 1px solid #d1cfcf;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

header a:hover {
  background-color: #a6a6a6;
  color: white;
  text-decoration: none;
}

header #logo {
  border: 0px;
  float: right;
  padding: 0px;
  height: 50px;
}

header #logo img {
  display: block;
  height: 100%;
  width: 100%;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}


.botNav {
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  padding: 0px;
  display: block;
}

.botNav>a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  border: 0px solid #d1cfcf;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.botNav>a:hover {
  background-color: #a6a6a6;
  color: white;
  text-decoration: none;
}

.botNav>#registerInstructor {
  float: right;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0px;
  padding-bottom: 3px;
  display: block;
  bottom: 0;
}

.side-nav {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: -1;

  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.side-nav a, .dropdown-btn, .dropdown-btn-class, .dropdown-btn-live {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.side-nav a:hover, .dropdown-btn-class:hover, .dropdown-btn:hover, .dropdown-btn-live:hover {
  color: #f1f1f1;
}

.side-nav .active {
  background-color: green;
  color: white;
}

.side-nav .dropdown-container, .dropdown-container-live {
  display: block;
  background-color: inherit;
  padding-left: 9px;
}

.side-nav .dropdown-container-class {
  display: none;
  background-color: inherit;
  padding-left: 12px;
}

.side-nav .fa-caret-down {
  float: right;
  padding-right: 8px;
}

.side-nav .fa-exclamation-circle, .fa-bullhorn, .fa-calendar-alt {
  padding-left: 8px;
}

.side-nav .fa-circle {
  float: left;
  padding-right: 7px;
  color: #cc0000;
}

.side-nav fa-user, .fa-cog {
  float: left;
  padding-right: 7px;
}

.side-nav .dropdown-btn-live:hover > .fa-circle {
  color: #fa1a1a
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main {
  margin-left: 200px;
  font-size: 20px;
  width: 85%;
  padding: 20px;
}

.content {
  width: 100%;
  height: 100%;

}
