.registerForm input[type=text], input[type=url], input[type=email], input[type=number], input[type=tel], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.registerForm .loginBtn {
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 3px;
  padding-right: 3px;
  border: none;
  color: #ff4d4d;
  float: right;
}

.registerForm label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.registerForm input[type=submit] {
  margin-top: 12px;
  background-color: #5fb962;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  padding-top: 10px;
  width: 20%;
}

.registerForm .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  opacity: 0.85;
  align: center;
  width: 78%;
  margin-top: 11em;
}

.registerForm .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.registerForm .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.registerForm .addFieldButton {
  float: right;
  margin-bottom: 6px;
}

.registerForm .removeFieldButton {
  float: right;
  margin-top: 6px;

}



.registerForm .row:after {
  content: "";
  display: table;
  clear: both;
}

.registerForm .body {
  margin-top:
}

.registerForm .grad {
  background: linear-gradient(#1EAE98,#D8B5FF);
}

.registerForm h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgb(0, 51, 204);
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.registerForm .row {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .registerForm .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

header {
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  text-align: center;
  display: block;
}

header a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  background-color: #d9d9d9;
  border: 1px solid #d1cfcf;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

header a:hover {
  background-color: #a6a6a6;
  color: white;
  text-decoration: none;
}

header #logo {
  border: 0px;
  float: right;
  padding: 0px;
  height: 50px;
}

header #logo img {
  display: block;
  height: 100%;
  width: 100%;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}


.botNav {
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  padding: 0px;
  display: block;
}

.botNav>a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  border: 0px solid #d1cfcf;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.botNav>a:hover {
  background-color: #a6a6a6;
  color: white;
  text-decoration: none;
}

.botNav>#registerInstructor {
  float: right;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0px;
  padding-bottom: 3px;
  display: block;
  bottom: 0;
}
