<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Home Widget EduTech</title>
  <% include ./partials/bootstrap4 %>
  <% include ./partials/icons %>
  <link rel="stylesheet" href="/stylesheets/home.css" media="all">
</head>
<body>

    <div class="container-fluid mw-100">
    <div class="row">
      <header>
        <a id="logo" href="/"><img src="images/headerLogo.png" alt="WidgetEduTech Logo"></a>
        <a href="/">Home</a>
        <a href="/courses">Course Structure</a>
        <a href="#">Our Demo</a>
        <a href="#">About Us</a>
      </header>
    </div>

    <div class="row">
      <div class="main">
       HOMEPAGE
      </div>
    </div>
    <div class="row">
      <div class="botNav">
        <a href="#">Our Blog</a>
        <a href="#">Contact</a>
        <a href="/student/registerInstructor" id="registerInstructor">An instructor? Join us!</a>
      </div>
    </div>
    <div class="row">
      <footer>
        ALL RIGHTS RESERVED
      </footer>
    </div>
  </div>

</body>
